* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* First mobile */




@media screen and (min-width:370px) and (max-width:749px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    .page {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        /* grid-template-rows: 75px 500px 800px 400px 1250px 730px 150px; */
        grid-template-areas: "header"
        "present-section"
        "about-section"
        "skills-section"
        "projects-section"
        "contact"
        "site-footer";

        
    }

    .page .header {
        grid-area: header;
        width: 100%;
        background-color: #0B0B0B;
        position: sticky;
        top: 0;
    }

    .header .header-container .nav-header{
        display: none;
    }
    .header .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page .present-section{
        grid-area: present-section;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url('background.jpeg');
        background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el div */
        background-position: center; /* Posición centrada de la imagen */
        background-repeat: no-repeat; /* Evitar que la imagen se repita */
        height: 90vh;
    }


    .present-section .present .img-present {
        /* background-color: #e7b708; */
        /* border-radius: 100%; */
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* background-color: #34495e; */
    }

    .img-present img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    .present-section .present {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        padding: 20px;
    }

    .present-section .present .text-present-container {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #812a2a; */
        flex-direction: column;
    }

    .text-present h1 {
        font-family: sans-serif;
        color: white;
        font-size: 38px;
    }

    .text-present {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #333333; */
        text-align: center;
    }

    .text-present-container .buttom {
        width: 130px;
        font-family: sans-serif;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffcb11;
        padding: 15px 0;
    }
    
    .buttom a {
        color: black;
        text-decoration: none;
    }
    

    .page .about-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #FAFAFA;
        border-radius: 12px;
        padding: 25px;
        gap: 20px;
        margin-top: 85px;
    }

  .education h3 {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .education-item {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
  }
  
  .education-item:last-child {
    border-bottom: none;
  }
  
  .education-item h5 {
    color: #34495e;
    margin-bottom: 0.5rem;
  }
  
  .education-item p {
    font-size: 1rem;
    color: #666666;
    margin: 0.5rem 0 1rem;
  }
  
  .education-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .education-item ul li {
    background: #ecf0f1;
    margin-bottom: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
  }

    .about-section .about-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .about-container p {
        color: #666666;
    }

    .about-text {
        width: 100%;
        padding: 5px 0 5px 0;
    }
    

    .about-container p{
        line-height: 1.5;
    }

    .page .skills-section {
        grid-area: skills-section;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        padding: 20px;
        gap: 10px;
    }

    .skills-section h1 {
        text-align: left;
    }

    .skills {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }

    .skill {
        background: rgba(153, 153, 153, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 11px;
        border-radius: 5px;
        cursor: default;
    }

    .skill span {
        color: #5f5f5f;
    }
    
    .skill i {
        font-size: 18px;
        color: #555555;
    }

    .page .projects-section {
        grid-area: projects-section;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
        gap: 30px;
        padding-bottom: 28px;
    }
    
    .projects-section .proyectos{
        margin-top: 30px;
    }

    .projects {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 28px;
        flex-wrap: wrap;
    }

    .projects .card-project {
        display: flex;
        justify-content: space-between;
        width: 87%;
        align-items: center;
        min-height: 330px;
        font-family: sans-serif;
        background-color: white;
        flex-direction: column;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-project .img-project {
    padding-top: 20px;
    /* height: 50; */
    /* background-color: #0084ff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.desc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.card-project .description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    
}

.description-project p {
    color: #666666;
    font-size: 14px; 
    line-height: 1.5; 
}

.buttom-tarjet {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #ffcb11;
    color: #333333; /* Color del texto para contraste */
    font-weight: bold;
    text-transform: uppercase; /* Estiliza el texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de elevación */
    transition: all 0.3s ease-in-out; /* Efecto suave al interactuar */
}

.buttom-tarjet:hover {
    background-color: #ffc400; /* Efecto hover */
    transform: scale(1.05); /* Ligeramente más grande */
}

.buttom-tarjet h4 a {
    color: black;
    text-decoration: none;
}

.buttom-tarjet:hover{
    cursor: pointer;
    background-color: #0B0B0B;
    transition: all .3s ease-in-out;
    a {
        color: white;
    }
}

    .page .contact {
        grid-area: contact;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        font-family: sans-serif;
        margin-top: 100px;
        margin-bottom: 50PX;
    }

    .contact h1 {
        margin-top: 40px;
    }
    
    .contact-container {
        margin: auto;
        width: 70%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contact-form {
        width: 90%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;
    }
    
    .contact-form .input-text {
        width: 100%;
        height: 39px;
        font-size: 15px;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgb(226, 226, 226);
        padding-left: 5px;
    }
    
    .input-submit {
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background-color: #ffc800;
        color: black;
        outline: none;
        border-radius: 10px;
        border: none;
        margin-top: 17px;
    }
    
    .input-submit:hover{
        background-color: #0B0B0B;
        color: white;
        cursor: pointer;
        transition: all .3s;
    }
    
    #text-message {
        width: 100%;
        height: 200px;
        border: 1px solid black;
        outline: none;
        border-radius: 10px;
        font-family: sans-serif;
        padding-left: 5px;
        padding-top: 10px;
        border: 1px solid rgb(219, 219, 219);
        resize: none;
    }
    
    .input-text:focus{
        outline: 2px solid #f8c7168c;
    }
    
    #text-message:focus{
        outline: 2px solid #f8c7168c;
    }

    .page .site-footer {
        grid-area: site-footer;
        margin-top: 50px;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #eef;
        height: 100px;
    }

    .site-footer .social-media{
        width: 100%;
        height: 70%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .social-media a i {
        color: black;
        font-size: 25px;
    }


    .site-footer .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright h5 {
        color: #cacaca;
    }

    
}

 



html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 750px) and (max-width: 4900px) {

.header {
    width: 100%;
    height: 75px;
    background-color: #0B0B0B;
    position: sticky;
    top: 0;
    z-index: 100;
}



.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header {
    display: flex;
    height: 100%;
    margin-left: 78px;
}

.nav-header {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header .list-nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header .list-nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.list-nav ul a {
    padding-bottom: 7px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    border-bottom: 2px solid transparent;
}

.list-nav ul a:hover{
    border-bottom: 2px solid #FFDB58;
    transition: all .3s;
}



.present-section {
    width: 100%;
    height: 89vh;
    background-image: url('background.jpeg');
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el div */
    background-position: center; /* Posición centrada de la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.present {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.present .img-present img {
    width: 300px;
    border-radius: 100%;
    height: 300px;
}

.text-present-container {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.text-present-container .text-present {
    width: 70%;
    margin-bottom: 30px;
}

.text-present h1 {
    font-family: sans-serif;
    color: white;
    font-size: 38px;
}

.text-present-container .buttom {
    width: 130px;
    font-family: sans-serif;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcb11;
    padding: 15px 0;
}

.buttom a {
    color: black;
    text-decoration: none;
}

.buttom:hover {
    background-color: #e7b708;
}

.page .about-section{
    font-family: sans-serif;
    width: 100%;
    display: flex;
    background: #FAFAFA;
    border-radius: 12px;
    padding: 40px 77px 40px 77px;
    justify-content: space-between;
    margin-top: 85px;
}

.education {
    width: 45%;
}

.education h3 {
margin-bottom: 1rem;
text-align: left;
}

.education-item {
margin-bottom: 2rem;
padding-bottom: 1rem;
border-bottom: 1px solid #eaeaea;
}

.education-item:last-child {
border-bottom: none;
}

.education-item h5 {
color: #34495e;
margin-bottom: 0.5rem;
}

.education-item p {
font-size: 1rem;
color: #666666;
margin: 0.5rem 0 1rem;
}

.education-item ul {
list-style: none;
padding: 0;
margin: 0;
}

.education-item ul li {
background: #ecf0f1;
margin-bottom: 0.5rem;
padding: 0.75rem 1rem;
border-radius: 8px;
font-size: 1rem;
}

.about-section .about-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-container p {
    color: #666666;
    line-height: 2;
}

.about-text {
    width: 100%;
    padding: 5px 0 5px 0;
}


.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /* background-color: #e7b708; */
    gap: 15px;
    padding: 100px;
}

.skills-section h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.skills {
    /* background-color: #0084ff; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background: rgba(153, 153, 153, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 17px;
    border-radius: 5px;
    cursor: default;
}

.skill span {
    color: #5f5f5f;
}

.skill i {
    font-size: 18px;
    color: #555555;
}

.projects-section {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.proyectos {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.proyectos h3 {
    margin: auto;
    font-family: sans-serif;
    font-size: 30px;
}

.projects {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}

.projects .card-project {
    display: flex;
    justify-content: space-between;
    width: 87%;
    align-items: center;
    min-height: 330px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-project .img-project {
    padding-top: 20px;
    height: 100%;
    /* background-color: #0084ff; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.desc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 100%;
    gap: 20px;
}

.card-project .description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    
}

.description-project p {
    color: #666666;
    font-size: 14px; 
    line-height: 1.5; 
}

.buttom-tarjet {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #ffcb11;
    color: #333333; /* Color del texto para contraste */
    font-weight: bold;
    text-transform: uppercase; /* Estiliza el texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de elevación */
    transition: all 0.3s ease-in-out; /* Efecto suave al interactuar */
}

.buttom-tarjet:hover {
    background-color: #ffc400; /* Efecto hover */
    transform: scale(1.05); /* Ligeramente más grande */
}

.buttom-tarjet h4 a {
    color: black;
    text-decoration: none;
}

.buttom-tarjet:hover{
    cursor: pointer;
    background-color: #0B0B0B;
    transition: all .3s ease-in-out;
    a {
        color: white;
    }
}

.contact {
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    font-family: sans-serif;
    margin-top: 100px;
    margin-bottom: 50PX;
}

.contact h1 {
    margin-top: 40px;
    font-size: 30px;
}

.contact-container {
    margin: auto;
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.contact-form .input-text {
    width: 90%;
    height: 39px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 5px;
}

.input-submit {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: #ffc800;
    color: black;
    outline: none;
    border-radius: 10px;
    border: none;
}

.input-submit:hover{
    background-color: #0B0B0B;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

#text-message {
    width: 90%;
    height: 200px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    font-family: sans-serif;
    padding-left: 5px;
    padding-top: 10px;
    border: 1px solid rgb(219, 219, 219);
    resize: none;
}

.input-text:focus{
    outline: 2px solid #f8c7168c;
}

#text-message:focus{
    outline: 2px solid #f8c7168c;
}

.site-footer {
    background-color: #f4f4f4;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #cccccc;
}

.site-footer .social-media {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media a i {
    color: black;
    font-size: 25px;
}

.site-footer .copyright {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright h5 {
    font-family: sans-serif;
    color: rgba(96, 96, 96, 0.7);
}
}
